.sidebar {
    border-width: 1px;
    border-color: #808080;
    height: 100%;
    width: 250px;
}

.upper {
     padding-top: 50px;
     padding-bottom: 20px;
     padding-right: 80%;
}

.slimmer {
    padding: 50px;
}